<h1>C4S</h1>

<p>Hi <%= @user.name %>,</p>

<p>
  You can change your c4s password by clicking on the link below:
</p>

<a href="<%= password_resets_edit_url %>?email=<%= @user.email %>&reset=<%= @user.reset_token %>">Password Reset</a>

<p>
Thanks and Regards,
  </p>
<p>
C4S Team
</p>