<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Dear <b> <%= @user.name %></b>,
  <br>  <br>
  You have successfully posted an Ad on " <%= @url %> ".
  <br>  <br>
  Thanks and Regards,
</p>
<p>

  C4S Team

  <br>  <br>
</p>
</body>
</html>