<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>


<p>
  Dear <b> <%= @user.name %></b>,
  <br>  <br>
  Your post has received a new comment.
  <br>  <br>

  To view the comment <%= link_to 'click here.', @offer %>

  <br>  <br>
  </p>
    <p>
  Thanks and Regards,
  C4S Team
</p>

</body>
</html>