<div class="container">
  <h2 class="page-header">Account Activation</h2>
  <div class="col-sm-push-3 col-sm-6">
  <div class="ui icon positive message">
    <i class="checkmark icon"></i>
    <div class="content">
      <div class="header">
        Your email has been successfully verified.
      </div>
      <p><%= link_to "Cick here to Login", login_path %>.</p>
    </div>
  </div>
</div>
  </div>